snippet class "\documentclass{}" b
\documentclass{${1}}$0
endsnippet

snippet enq "\enquote{}" w
\enquote{${1}} $0
endsnippet

snippet footm "\footnotemark" i
\footnotemark 
endsnippet

snippet foott "\footnotetext" b
\footnotetext{${1}} $0
endsnippet
